/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-image: linear-gradient(
    75deg,
    hsl(120deg 20% 98%) 0%,
    hsl(110deg 63% 97%) 11%,
    hsl(102deg 81% 96%) 45%,
    hsl(94deg 89% 94%) 70%,
    hsl(86deg 92% 92%) 83%,
    hsl(79deg 92% 91%) 90%,
    hsl(73deg 91% 88%) 94%,
    hsl(66deg 90% 86%) 97%,
    hsl(61deg 88% 84%) 99%,
    hsl(55deg 100% 83%) 100%
  );
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.hidden {
  display: none;
}

/** Main Container */

.content_container {
  margin: 0 auto;
  padding: 1rem;
  min-width: 500px;
  max-width: 600px;
  background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
}

/** Header */

.header_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header_img {
  height: 2.5rem;
}

/** Main */

.main_content {
  border-radius: 3%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main_inner {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.badge_img {
  margin-top: 3rem;
  margin-left: 1rem;
  width: 30%;
  transform: rotate(-35deg);
  margin-bottom: auto;
}

.profile_photo {
  border-radius: 3%;
}

.dog_name {
  color: #ffffff;
  font-weight: 500;
}

.dog_bio {
  color: #b7b7b7b7;
  font-weight: 400;
}

/** Footer */

.footer {
  margin-top: 1rem;
}

.footer_inner {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer_img {
  border: 1px solid #ffff;
  background-color: #ffff;
  box-shadow: 0px 10px 20px #e9e9ea;
  border-radius: 100%;
  padding: 1rem;
  height: 4.5rem;
}

#icon-heart:hover {
  background: #dbfff4;
  box-shadow: 0px 10px 20px #ccf1e6;
  cursor: pointer;
}

#icon-cross:hover {
  background-color: #ffe7ef;
  box-shadow: 0px 10px 20px #edd9df;
  cursor: pointer;
}

.no_matches {
  text-align: center;
  margin: auto;
  line-height: 2rem;
  color: #a70202;
}
