/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/** Main Container */

.content_container {
  margin: 1.5rem 1.5rem;
  padding: 1rem;
  min-width: 500px;
  max-width: 550px;
  background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
}

/** Header */

.header_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header_img {
  height: 2.5rem;
}

/** Main */

.main_content {
  border-radius: 3%;
  background-image: url(assets/images/dog-teddy.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main_inner {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.profile_photo {
  border-radius: 3%;
}

.dog_name {
  color: #ffffff;
  font-weight: 500;
}

.dog_bio {
  color: #ffffff;
  font-weight: 400;
}

/** Footer */

.footer {
  margin-top: 1rem;
}

.footer_inner {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer_img {
  border: 1px solid #ffff;
  background-color: #ffff;
  box-shadow: 0px 10px 20px #e9e9ea;
  border-radius: 100%;
  padding: 1rem;
  height: 4.5rem;
}
